@model WebBanHang.Models.Emtity.Product

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebBanHangDB DB = new WebBanHangDB();
    var UrlSerVer = UrlContant.UrlSerVer;
    var check = (bool)ViewBag.Check;


}
@using WebBanHang.Contant
@using WebBanHang.Models.Emtity
<style>


    /* - - - - - RATINGS */
    .rating {
        width: 200px;
        height: 30px;
        font-size: 30px;
        margin: auto;
        background: #FFF;
        display: block;
        overflow: hidden;
    }

        .rating:not(:checked) > input {
            display: none;
        }

    /* - - - - - RATE */
    #rate {
    }

        #rate:not(:checked) > label {
            cursor: pointer;
            float: right;
            width: 30px;
            height: 30px;
            display: block;
            color: #ffdd0083;
            line-height: 33px;
            text-align: center;
        }

            #rate:not(:checked) > label:hover,
            #rate:not(:checked) > label:hover ~ label {
                color: #ffdd0078;
            }

        #rate > input:checked + label:hover,
        #rate > input:checked + label:hover ~ label,
        #rate > input:checked ~ label:hover,
        #rate > input:checked ~ label:hover ~ label,
        #rate > label:hover ~ input:checked ~ label {
            color: #ffdf00;
        }

        #rate > input:checked ~ label {
            color: #ffdf00;
        }
</style>
<!-- End Header Area -->
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Sản Phẩm</h1>
                <nav class="d-flex align-items-center">
                    <nav class="d-flex align-items-center">
                        <a href="/Home/Index">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                        <a href="/Home/Detail/@Model.Id">Chi tiết sản phảm</a>
                    </nav>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                @if (Model?.Imgs.Count < 2)
                {
                    <div class="single-prd-item">
                        <img class="img-fluid" src="@(Model?.image.Contains("Content")==true?(UrlSerVer+ Model?.image):Model?.image)" alt="">
                    </div>
                }

                <div class="s_Product_carousel">

                    @foreach (var item in Model.Imgs)
                    {
                        <div class="single-prd-item">
                            <img class="img-fluid" src="@(item?.Url.Contains("Content")==true?(UrlSerVer+ item?.Url):item?.Url)" alt="">
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>@Model.name</h3>

                    <div class="price">
                        @{if (Model.discount != null && Model.discount.Length > 0)
                            {
                                <h6>@(Model.price.Value.ToString("N0") + "VNĐ")</h6>
                                <h6 class="l-through">@Model.price_before_discount.Value.ToString("N0" + "VNĐ")</h6>
                            }
                            else
                            {
                                <h6>
                                    @(Model.price.Value.ToString("N0"))

                                </h6>

                            }
                        }


                    </div>
                    <ul class="list">
                        <li><a class="active" href="#"><span>Danh mục </span> : @Model.Categorie.display_name</a></li>
                        <li><span>Số lượng còn</span> :<span id="count">  @Model.Option_Product.Sum(x => x.Stock) </span></li>
                    </ul>
                    <form method="get" action="/Home/AddCart/@Model.Id">
                        <div class="product_count d-flex">
                            <div class="col-8">
                                <select name="Option" id="Option" required class="form-control form-select">
                                    <option value=""> Mời chọn size</option>
                                    @foreach (var item in Model.Option_Product)
                                    {
                                            <option value="@item.Id">@item.option</option>
                                            
                                    }

                                </select>
                            </div>


                            <input type="number" name="quantity" min="1" required id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty form-control">

                        </div>



                        <div class="card_area d-flex align-items-center">
                            <button type="submit" class="primary-btn">Thêm giỏ hàng</button>
                            <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
                            <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <br />

    </div>
</div>
<!--================End Single Product Area =================-->
<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mô Tả</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
                   aria-selected="false">Đánh giá</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <p>
                    @Html.Raw(Model.description)
                </p>
            </div>

            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="comment_list">
                            @foreach (var item in Model.Comments)
                            {
                                <div class="review_item">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="~/Content/img/product/review-1.png" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h4>@item.UseName</h4>
                                            <h5>@item.CreateDate.ToString()</h5>
                                            <a class="reply_btn" href="#">Reply</a>
                                        </div>
                                    </div>
                                    <p>
                                        @Html.Raw(item.Comment1)
                                    </p>
                                </div>
                            }

                            @*<div class="review_item reply">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="~/Content/img/product/review-2.png" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h4>Blake Ruiz</h4>
                                            <h5>12th Feb, 2018 at 05:56 pm</h5>
                                            <a class="reply_btn" href="#">Reply</a>
                                        </div>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo
                                    </p>
                                </div>*@
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="~/Content/img/product/review-3.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>Blake Ruiz</h4>
                                        <h5>12th Feb, 2018 at 05:56 pm</h5>
                                        <a class="reply_btn" href="#">Reply</a>
                                    </div>
                                </div>
                                <p>
                                   Nằm trong bộ sưu tập mùa hè 2022 hứa hẹn sẽ mang lại những cảm giác thoải mái, mang lại trải nghiệm tốt cho khách hàng.
                                </p>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-lg-6">
                            <div class="review_box">
                                <h4>Post a comment</h4>
                                <form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="name" name="name" placeholder="Your Full name">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="number" name="number" placeholder="Phone Number">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control" name="message" id="message" rows="1" placeholder="Message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-right">
                                        <button type="submit" value="submit" class="btn primary-btn">Submit Now</button>
                                    </div>
                                </form>
                            </div>
                        </div>*@
                </div>
            </div>
            <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row total_rate">
                            <div class="col-6">
                                <div class="box_total">
                                    <h5>Đánh giá</h5>
                                    <h4>@Math.Round(Model.rating_star.Value, 2)</h4>
                                    <h6>(@Model.Comments.Count Bình luận)</h6>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="rating_list">
                                    <h3>Dựa trên @Model.Comments.Count Nhận xét</h3>
                                    <ul class="list">
                                        <li>
                                            <a href="#">
                                                5 Sao <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> @Model.Comments.Where(x => x.Start == 5).Count()
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                4 Sao <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> @Model.Comments.Where(x => x.Start == 4).Count()
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                3 Sao <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> @Model.Comments.Where(x => x.Start == 3).Count()
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                2 Sao <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> @Model.Comments.Where(x => x.Start == 2).Count()
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                1 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> @Model.Comments.Where(x => x.Start == 1).Count()
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="review_list">
                            @foreach (var item in Model.Comments.OrderByDescending(x => x.CreateDate))
                            {
                                <div class="review_item">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="~/Content/img/product/review-1.png" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h4>@item.UseName</h4>
                                            <span>@item.CreateDate.ToString()</span><br />
                                            @for (int i = 0; i < item.Start; i++)
                                            {
                                                <i class="fa fa-star"></i>
                                            }



                                        </div>
                                    </div>
                                    <p>
                                        @item.Comment1
                                    </p>
                                </div>
                            }




                        </div>
                    </div>
                    <div class="col-lg-6">
                        @if (check)
                        {
                            <form class="row contact_form" action="/Home/AddStar" method="get">

                                <div class="review_box">
                                    <h4>Nhận xét</h4>
                                    <p>Đánh giá:</p>
                                    <input hidden value="@Model.Id" name="id" id="id" />
                                    <ul class="list">

                                        <li>
                                            <section id="rate" class="rating">

                                                <!-- FIFTH STAR -->
                                                <input type="radio" id="star_5" name="rate" value="5" />
                                                <label for="star_5" title="Five">&#9733; </label>
                                                <!-- FOURTH STAR -->
                                                <input type="radio" id="star_4" name="rate" value="4" />
                                                <label for="star_4" title="Four">&#9733;</label>
                                                <!-- THIRD STAR -->
                                                <input type="radio" id="star_3" name="rate" value="3" />
                                                <label for="star_3" title="Three">&#9733;</label>
                                                <!-- SECOND STAR -->
                                                <input type="radio" id="star_2" name="rate" value="2" />
                                                <label for="star_2" title="Two">&#9733;</label>
                                                <!-- FIRST STAR -->
                                                <input type="radio" id="star_1" name="rate" value="1" />
                                                <label for="star_1" title="One">&#9733;</label>
                                            </section>

                                        </li>

                                    </ul>
                                    <br />
                                    <br />
                                    <br />

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea required class="form-control" name="message" id="message" rows="1" placeholder="Review" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Review'"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-right">
                                        <button type="submit" value="submit" class="primary-btn">Đánh giá</button>
                                    </div>

                                </div>
                            </form>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Product Description Area =================-->
<!-- Start related-product Area -->
<section class="related-product-area section_gap_bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h1>Sản phẩm liên quan</h1>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    @foreach (var item in DB.Products.Where(x => x.category_id == Model.category_id && x.Id != Model.Id && x.delete != true).OrderByDescending(x => x.Id).Take(9))
                    {

                        <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                            <div class="single-related-product d-flex">
                                <a href="#"><img src="@(UrlSerVer+item.image)" width="100" alt=""></a>
                                <div class="desc">
                                    <a href="/Home/Detail/@item.Id" class="title">@item.name</a>
                                    <div class="price">
                                        @{if (item.discount != null && item.discount.Length > 0)
                                            {
                                                <h6>@(item.price.Value.ToString("N0") + " VNĐ")</h6>
                                                <h6 class="l-through">@item.price_before_discount.Value.ToString("N0" + "VNĐ")</h6>
                                            }
                                            else
                                            {
                                                <h6>@(item.price.Value.ToString("N0") + " VNĐ")</h6>

                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
            <div class="col-lg-3">
                <div class="ctg-right">
                    <a href="#" target="_blank">
                        <img class="img-fluid d-block mx-auto" src="~/Content/img/category/c5.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

@section  scripts{
    <script>
        $(document).ready(function () {

            $("#Option").change(function () {
                $.ajax({
                    type: 'GET',
                    url: '/Home/OptionInfo/' + $("#Option").val(),
                    success: function (data) {
                        console.log(data.data.Stock)
                        $("#count").text("\t"+  data.data.Stock)
                    }
                });
            })

        })
    </script>
    }
    <!--    End related - product Area--