
@{
    Layout = null;
    WebBanHangDB DB = new WebBanHangDB();
    var UrlSerVer = UrlContant.UrlSerVer;
}
@using WebBanHang.Contant
@using WebBanHang.Models.Emtity

<!-- start banner Area -->
<section class="banner-area">
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-start">
            <div class="col-lg-12">
                <div class="active-banner-slider owl-carousel">
                    <!-- single-slide -->
                    <div class="row single-slide align-items-center d-flex">
                        <div class="col-lg-5 col-md-6">
                            <div class="banner-content">
                                <h1>Nike Mới <br></h1>
                                <p>
                                    Nằm trong bộ sưu tập mùa hè 2022 hứa hẹn sẽ mang lại những cảm giác thoải mái, mang lại trải nghiệm tốt cho khách hàng.
                                </p>
                                <div class="add-bag d-flex align-items-center">
                                    <a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
                                    <span class="add-text text-uppercase">Thêm vào giỏ hàng</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="banner-img">
                                <img class="img-fluid" src="~/Content/img/banner/banner-img.png" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- single-slide -->
                    <div class="row single-slide">
                        <div class="col-lg-5">
                            <div class="banner-content">
                                <h1>Nike Mới <br></h1>
                                <p>
                                    Nằm trong bộ sưu tập mùa hè 2022 hứa hẹn sẽ mang lại những cảm giác thoải mái, mang lại trải nghiệm tốt cho khách hàng.
                                </p>
                                <div class="add-bag d-flex align-items-center">
                                    <a class="add-btn" href=""><span class="lnr lnr-cross"></span></a>
                                    <span class="add-text text-uppercase">Thêm vào giỏ hàng</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="banner-img">
                                <img class="img-fluid" src="~/Content/img/banner/banner-img.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- start features Area -->
<section class="features-area section_gap">
    <div class="container">
        <div class="row features-inner">
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/Content/img/features/f-icon1.png" alt="">
                    </div>
                    <h6>Giao hàng miễn phí</h6>
                    <p>Giao hàng miễn phí cho tất cả các đơn đặt hàng</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/Content/img/features/f-icon2.png" alt="">
                    </div>
                    <h6>Chính sách hoàn trả</h6>
                    <p>Giao hàng miễn phí cho tất cả các đơn đặt hàng</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/Content/img/features/f-icon3.png" alt="">
                    </div>
                    <h6>Hỗ trợ 24/7</h6>
                    <p>Giao hàng miễn phí cho tất cả các đơn đặt hàng</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/Content/img/features/f-icon4.png" alt="">
                    </div>
                    <h6>Thanh toán an toàn</h6>
                    <p>Giao hàng miễn phí cho tất cả các đơn đặt hàng</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end features Area -->
<!-- Start category Area -->
<section class="category-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/Content/img/category/c1.jpg" alt="">
                            <a href="~/Content/img/category/c1.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Giày thể thao</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/Content/img/category/c2.jpg" alt="">
                            <a href="~/Content/img/category/c2.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Giày thể thao</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/Content/img/category/c3.jpg" alt="">
                            <a href="~/Content/img/category/c3.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Sản phẩm dành cho cặp đôi</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <img class="img-fluid w-100" src="~/Content/img/category/c4.jpg" alt="">
                            <a href="~/Content/img/category/c4.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">Giày thể thao</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-deal">
                    <div class="overlay"></div>
                    <img class="img-fluid w-100" src="~/Content/img/category/c5.jpg" alt="">
                    <a href="~/Content/img/category/c5.jpg" class="img-pop-up" target="_blank">
                        <div class="deal-details">
                            <h6 class="deal-title">Sneaker for Sports</h6>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End category Area -->
<!-- start product Area -->
<section class="owl-carousel active-product-area section_gap">
    <!-- single product slide -->

    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Sản phẩm mới nhất</h1>

                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single product -->
                @foreach (var item in DB.Products.Where(X => X.delete != true && X.price != null).OrderByDescending(X => X.Id).Take(8))
                {
                    <div class="col-lg-3 col-md-6">
                        <div class="single-product">
                            <img class="img-fluid" src="@(UrlSerVer+""+item.image)" alt="">
                            <div class="product-details">
                                <h6 class="  social-info link">
                                    @item.name
                                </h6>
                                <div class="price">
                                    <h6>@(item.price.Value.ToString("N0") + " VNĐ")</h6>
                                    @if (item.discount != null && item.discount.Length > 0)
                                    {

                                        <h6 class="l-through">@(item.price_before_discount.Value.ToString("N0") + "VNĐ")</h6>
                                    }

                                </div>
                                <div class="prd-bottom">
                                    <a name="AddPro" id="@item.Id" style="cursor:pointer; border:none;background:none" class=" AddPro social-info">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">Thêm giỏ hàng</p>
                                    </a>


                                    <a href="/Home/Detail/@item.Id" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">Xem</p>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                }


            </div>
        </div>
    </div>
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Sản phẩm bán chạy</h1>

                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var item in DB.Products.Where(X => X.delete != true).OrderByDescending(X => X.VoucherOrderDetails.Count).Take(8))
                {
                    <div class="col-lg-3 col-md-6">
                        <div class="single-product">
                            <img class="img-fluid" src="@(UrlSerVer+""+item.image)" alt="">
                            <div class="product-details">
                                <h6 class="  social-info link">
                                    @item.name
                                </h6>
                                <div class="price">
                                    <h6>@item.price.Value.ToString("N0" + " VNĐ")</h6>
                                    @if (item.discount != null && item.discount.Length > 0)
                                    {

                                <h6 class="l-through">@(item.price_before_discount.Value.ToString("N0") + "VNĐ")</h6>
                                    }

                                </div>
                                <div class="prd-bottom">
                                    <a name="AddPro" id="@item.Id" style="cursor: pointer; border: none; background: none;"  class="social-info">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">Thêm giở hàng</p>
                                    </a>


                                    <a href="/Home/Detail/@item.Id" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">Xem</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</section>
<!-- end product Area -->
<!-- Start exclusive deal Area -->
<section class="exclusive-deal-area">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6 no-padding exclusive-left">
                <div class="row clock_sec clockdiv" id="clockdiv">
                    <div class="col-lg-12">
                        <h1>Ưu đãi độc quyền sẽ sớm kết thúc!</h1>
                        <p>Những người cực kỳ yêu thích hệ thống thân thiện với môi trường.</p>
                    </div>
                    <div class="col-lg-12">
                        <div class="row clock-wrap">
                            <div class="col clockinner1 clockinner">
                                <h1 class="days">150</h1>
                                <span class="smalltext">Ngày</span>
                            </div>
                            <div class="col clockinner clockinner1">
                                <h1 class="hours">23</h1>
                                <span class="smalltext">Giờ</span>
                            </div>
                            <div class="col clockinner clockinner1">
                                <h1 class="minutes">47</h1>
                                <span class="smalltext">Phút</span>
                            </div>
                            <div class="col clockinner clockinner1">
                                <h1 class="seconds">59</h1>
                                <span class="smalltext">Giây</span>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="/Home/ListAll" class="primary-btn">Mua ngay</a>
            </div>
            <div class="col-lg-6 no-padding exclusive-right">
                <div class="active-exclusive-product-slider">
                    @{
                        var product = DB.Products.Where(x => x.discount != null && x.delete != true).OrderByDescending(X => X.Id);
                        foreach (var item in product)
                        {
                            <div class="single-exclusive-slider">
                                <img class="img-fluid" src="@(UrlSerVer+""+item.image)" alt="">
                                <div class="product-details">
                                    <div class="price">
                                        <h6>@(item?.price.Value.ToString("N0") + " VNĐ")</h6>
                                        <h6 class="l-through">@(item?.price_before_discount.Value.ToString("N0") + " VNĐ")</h6>
                                    </div>
                                    <h4>
                                        @(item?.name)
                                    </h4>

                                    <div class="add-bag d-flex align-items-center justify-content-center">
                                        <a name="AddPro" id="@item.Id" class="add-btn">
                                            <span class="ti-bag"></span>
                                        </a>
                                        <span class="add-text text-uppercase">Thêm giỏ hàng</span>
                                    </div>
                                </div>
                            </div>
                        }



                    }
                    <!-- single exclusive carousel -->
                    <!-- single exclusive carousel -->

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End exclusive deal Area -->
<!-- Start brand Area -->
<section class="brand-area section_gap">
    <div class="container">
        <div class="row">
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/Content/img/brand/1.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/Content/img/brand/2.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/Content/img/brand/3.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/Content/img/brand/4.png" alt="">
            </a>
            <a class="col single-img" href="#">
                <img class="img-fluid d-block mx-auto" src="~/Content/img/brand/5.png" alt="">
            </a>
        </div>
    </div>
</section>
<!-- End brand Area -->
<!-- Start related-product Area -->
<section class="related-product-area section_gap_bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="section-title">
                    <h1>Sản phẩm mới nhất</h1>
                 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    @foreach (var item in DB.Products.Where(X => X.delete != true).OrderByDescending(x => x.Id).Take(9).ToList())
                    {
    
                        <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
                            <div class="single-related-product d-flex">
                                <a  href="/Home/Detail/@item.Id"><img src="@(UrlSerVer+""+item.image)" height="80" width="100" alt=""></a>
                                <div class="desc">
                                    <a href="#" class="title">@item.name</a>
                                    <div class="price">
                                        <h6>@(item.price.Value.ToString("N0") + " VNĐ")</h6>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
            <div class="col-lg-3">
                <div class="ctg-right">
                    <a href="#" target="_blank">
                        <img class="img-fluid d-block mx-auto" src="~/Content/img/category/c5.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="ModalADD" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="/Home/AddCart" method="get">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm sản phẩm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" name="Id" hidden required id="ID" maxlength="12" value="1" title="Quantitya:" class="input-text qty">
                    <div class="product_count d-flex">
                        <select required name="Option" id="Option" class="form-control form-select">
                        </select>

                        <input type="text" name="quantity" required id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                class="increase items-count" type="button">
                            <i class="lnr lnr-chevron-up"></i>
                        </button>
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                class="reduced items-count" type="button">
                            <i class="lnr lnr-chevron-down"></i>
                        </button>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-success">Thêm</button>
                </div>
            </div>
        </form>

    </div>
</div>

<!-- End related-product Area -->
<!-- start footer Area -->

<script>function getTimeRemaining(endtime) {
        var t = Date.parse(endtime) - Date.parse(new Date());
        var seconds = Math.floor((t / 1000) % 60);
        var minutes = Math.floor((t / 1000 / 60) % 60);
        var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
        var days = Math.floor(t / (1000 * 60 * 60 * 24));
        return {
            'total': t,
            'days': days,
            'hours': hours,
            'minutes': minutes,
            'seconds': seconds
        };
    }

    function initializeClock(id, endtime) {
        var clock = document.getElementById(id);
        var daysSpan = clock.querySelector('.days');
        var hoursSpan = clock.querySelector('.hours');
        var minutesSpan = clock.querySelector('.minutes');
        var secondsSpan = clock.querySelector('.seconds');

        function updateClock() {
            var t = getTimeRemaining(endtime);

            daysSpan.innerHTML = t.days;
            hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
            minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
            secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

            if (t.total <= 0) {
                clearInterval(timeinterval);
            }
        }

        updateClock();
        var timeinterval = setInterval(updateClock, 1000);
    }

    var deadline = new Date(Date.parse(new Date()) + 30 * 24 * 60 * 60 * 1000);
    initializeClock('clockdiv', deadline);
    $(document).ready(function () {


        $(document).on('click', 'a[name=AddPro]', function () {
            var id = $(this).attr("id");
            $("#ModalADD").modal("show")
            $("#Option").empty();
            $("#Option").append(`<option value="">Mời chọn</option>`)
            $("#ID").val(id.trim())
            $.ajax({
                type: 'GET',
                url: '/Home/ProductInfo/' + id,
                success: function (data) {
                    console.log(data)
                    $.each(data.data, function (k, v) {
                        $("#Option").append(`<option value="${v.Id}">${v.option}</option>`)
                    });
                }
            });
        });
    });

</script>
