
@model PagedList.IPagedList<WebBanHang.Models.Emtity.Product>
@{
    ViewBag.Title = "ListAll";
    WebBanHangDB DB = new WebBanHangDB();
    var UrlSerVer = UrlContant.UrlSerVer;
}
@using WebBanHang.Contant
@using PagedList.Mvc;
@using WebBanHang.Models.Emtity
<!-- Start Banner Area -->
<style>
    .heght-link {
              display:flex;
              height:52px;
    }
</style>
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Danh mục của hàng</h1>

                <nav class="d-flex align-items-center">
                    <a href="/Home/Index">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/Home/ListAll">
                        Thể loại thời trang
                    </a>
                   
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<div class="container-fluid p-5">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
            <div class="sidebar-categories">
                <div class="head">Danh mục</div>
                <ul class="main-categories">
                    @foreach (var item in DB.Categories.ToList())
                    {
                        <li class="main-nav-list">
                            <a href="/Home/ListAll/@item.Id">
                                <span class="lnr lnr-arrow-right"></span>@item.display_name<span class="number">(@item.Products.Count)</span>
                            </a>
                        </li>
                    }


                </ul>
            </div>

        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
            <!-- Start Filter Bar -->


            <div class="filter-bar d-flex flex-wrap align-items-center  ">

                @using (Html.BeginForm("ListAll", "Home", FormMethod.Get))
                {
                    <div class="d-flex col-12">
                        <div class="sorting d-flex">
                            <select class="form-select" name="sortOrder">
                                @{ if (((string)ViewBag.sortOrder).Equals("desc"))
                                    {
                                        <option value="asc">Tăng dần</option>
                                        <option value="desc" selected>Giảm dần</option>
                                    }
                                    else
                                    {
                                        <option value="asc" selected="selected">Tăng dần</option>
                                        <option value="desc">Giảm dần</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class=" sorting   mr-auto">
                            <div class="d-flex">
                                <input type="text" name="SearchString" class="form-control search-input-area" value="@((string)ViewBag.searchValue)" id="" placeholder="Tìm kiếm dịch vụ">
                                   <a name="AddImg"  class="btn "><img style="width:20px" src="~/Content/img/camera-solid (1).svg" /></a>
                                <input type="submit" class="search-btn btn search" style="background: red; color: white;" name="Reset" value="Tìm kiếm" />
                             
                                @*@{Html.RenderAction("UploadFile", "Home");};
        @Html.Hidden("page", (object)ViewBag.page)
        @Html.Hidden("id", (object)ViewBag.idCategory)
        @Html.Hidden("size", (object)ViewBag.pageSize)*@
                            </div>


                        </div>
                    </div>


                }
                @{Html.RenderAction("UploadFile", "Home");}
       
            </div>



            <!-- End Filter Bar -->
            <!-- Start Best Seller -->
            <section class="lattest-product-area pb-40 category-list">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <!-- single product -->
                        <div class="col-lg-3 col-md-6">
                            <div class="single-product">
                                <img class="img-fluid" src="@((item?.image.Contains("Content")==true?UrlSerVer+ item?.image:item?.image) )" alt="">
                                <div class="product-details">
                                    <h6 class="  social-info" href="/Home/Detail/@item.Id">
                                        @item.name
                                    </h6>
                                    <div class="price">


                                        @{if (item.discount != null && item.discount.Length > 0)
                                            {
                                                <h6>@(item.price.Value.ToString("N0") + " VNĐ")</h6>
                                                <h6 class="l-through">@item.price_before_discount.Value.ToString("N0" + " VNĐ")</h6>
                                            }
                                            else
                                            {
                                                <h6>@(item.price.Value.ToString("N0") + " VNĐ")</h6>

                                            }
                                        }


                                    </div>
                                    <div class="prd-bottom heght-link" style="height:40px">
                                        <a name="AddPro" id="@item.Id" style="cursor:pointer; border:none;background:none" class="social-info">
                                            <span class="ti-bag"></span>
                                            <p class="hover-text">Thêm vào giỏ hàng</p>
                                        </a>


                                        <a href="/Home/Detail/@item.Id" class="social-info">
                                            <span class="lnr lnr-move"></span>
                                            <p class="hover-text">Xem</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.Count() == 0)
                    {
                        <div class="mt-2" style="height:100px">

                        </div>

                        <div class="mt-5" style="height:340px">
                            <div class="container mt-4">
                                <div class="alert alert-warning" role="alert">
                                    Không tìm thấy sản phẩm
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </section>
            <!-- End Best Seller -->
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center">

                <div class="pagination" style="border-left: 0">
                    <div class="d-flex paging-service">
                        @*<div class="paging-service-1">
                                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                            </div>*@
                        <div class="ml-5">
                            @Html.PagedListPager(Model, page => Url.Action("ListAll/" + ViewBag.url,
                        new { page }))
                        </div>
                    </div>

                </div>
            </div>
            <!-- End Filter Bar -->
        </div>
    </div>
</div>
<section class="owl-carousel active-product-area section_gap col-12">
    <!-- single product slide -->

    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Sản phẩm mới nhất</h1>

                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single product -->
                @foreach (var item in DB.Products.Where(X => X.delete != true).OrderByDescending(X => X.Id).Take(8))
                {
                    <div class="col-lg-3 col-md-6">
                        <div class="single-product">
                            <img class="img-fluid" src="@((item?.image.Contains("Content")==true?UrlSerVer+ item?.image:item?.image) )" alt="">
                            <div class="product-details">
                                <h6 class="  social-info" href="/Home/Detail/@item.Id">
                                    @item.name
                                </h6>
                             
                                <div class="price">
                                    <h6>@(item.price.Value.ToString("N0")+ " VNĐ")</h6>
                                    @if (item.discount != null && item.discount.Length > 0)
                                    {

                                        <h6 class="l-through">@(item.price_before_discount.Value.ToString("N0") + "VNĐ")</h6>
                                    }

                                </div>
                                <div class="prd-bottom heght-link">
                                    <a name="AddPro" id="@item.Id" style="cursor:pointer; border:none;background:none" class="social-info">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">Thêm vào giỏ hàng</p>
                                    </a>


                                    <a href="/Home/Detail/@item.Id" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">Xem</p>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
    <!-- single product slide -->
    <div class="single-product-slider">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Sản phẩm bán chạy</h1>

                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var item in DB.Products.Where(X => X.delete != true).OrderByDescending(X => X.VoucherOrderDetails.Count).Take(8))
                {
                    <div class="col-lg-3 col-md-6">
                        <div class="single-product">
                            <img class="img-fluid" src="@((item?.image.Contains("Content")==true?UrlSerVer+ item?.image:item?.image) )" alt="">
                            <div class="product-details">
                                <h6 class="  social-info" href="/Home/Detail/@item.Id">
                                    @item.name
                                </h6>

                                <div class="price">
                                    <h6>@(item.price.Value.ToString("N0") + " VNĐ")</h6>
                                    @if (item.discount != null && item.discount.Length > 0)
                                    {

                                        <h6 class="l-through">@(item.price_before_discount.Value.ToString("N0") + " VNĐ")</h6>
                                    }

                                </div>
                                <div class="prd-bottom heght-link">
                                    <a name="AddPro" id="@item.Id" style="cursor:pointer; border:none;background:none" class="social-info">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">Thêm vào giỏ hàng</p>
                                    </a>


                                    <a href="/Home/Detail/@item.Id" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">Xem</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="ModalADD" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="/Home/AddCart" method="get">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm sản phẩm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" name="Id" hidden required id="ID" maxlength="12" value="1" title="Quantitya:" class="input-text qty">
                    <div class="product_count d-flex">
                        <select required name="Option" id="Option" class="form-control form-select">
                        </select>

                        <input type="text" name="quantity" required id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                class="increase items-count" type="button">
                            <i class="lnr lnr-chevron-up"></i>
                        </button>
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                class="reduced items-count" type="button">
                            <i class="lnr lnr-chevron-down"></i>
                        </button>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-success">Thêm</button>
                </div>
            </div>
        </form>

    </div>
</div>

<script>

    $(document).ready(function () {
        $(document).on('click', 'a[name=AddImg]', function () {
         
            $("#ModalImg").modal("show")

        });

        $(document).on('click', 'a[name=AddPro]', function () {
            var id = $(this).attr("id");
            $("#ModalADD").modal("show")
            $("#Option").empty();
            $("#Option").append(`<option value="">Mời chọn</option>`)
            $("#ID").val(id.trim())
            $.ajax({
                type: 'GET',
                url: '/Home/ProductInfo/' + id,
                success: function (data) {
                    console.log(data)
                    $.each(data.data, function (k, v) {
                        $("#Option").append(`<option value="${v.Id}">${v.option}</option>`)
                    });
                }
            });
        });
    });

</script>
